@import 'tailwindcss' theme(static);

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --primary: #14b8a6;
  --secondary: #64748b;
  --success: #22c55e;
  --info: #3b82f6;
  --warning: #eab308;
  --error: #ef4444;
  --neutral: #e5e7eb;
  --bg: #f9fafb;
  --text: #1f2937;

  --color-primary: var(--primary);
  --color-secondary: var(--primary);
  --container: 1200px;
}

[data-theme='dark'] {
  --primary: #06b6d4;
  --secondary: #94a3b8;
  --success: #16a34a;
  --info: #2563eb;
  --warning: #ca8a04;
  --error: #dc2626;
  --neutral: #1e293b;
  --bg: #0f172a;
  --text: #e5e7eb;
}

@utility container {
  @apply mx-auto w-full px-4;
  max-width: var(--container);
}

body {
  background-color: var(--bg);
  color: var(--text);
}
